[submodule "jss"]
	path = jss
	url = https://github.com/segv/jss.git
[submodule "skeleton-complete"]
	path = skeleton-complete
	url = https://github.com/baohaojun/skeleton-complete.git
[submodule "org-jira"]
	path = org-jira
	url = git://github.com/baohaojun/org-jira.git
